/* universal set up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
}
/* common */
.wrapper {
    padding: 60px;
    width: 100%;
    height: 80vh;
}

.col {
    display: flex;
    flex-wrap: wrap;


}

.item {
    width: calc(100% / 7);
    /* debug */
    height: 15vh;
    display: flex;
    position: relative;
}

.item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
img{
    width: 12.7vw;
    height: 12.7vh;
    
}

.item-name {
    position: absolute;
    top: 12vh;
    left: 10px;
    background-color: grey;
    color: white;
    opacity: 0.7;
    width: 30%;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.footer{
    background-color: rgb(52, 47, 47);
    width: 100vw;
    z-index: 1;
    min-height: 8rem;
}
.microphone{
   width: 15%;
    color: rgb(233, 230, 230);
    font-size: 30px ;
    padding: 30px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
span{
    font-size: 0.8rem;
    color: white;
    padding: px;
    z-index: 1;
    bottom: 10px;
   right: 5px;
}
p{
    font-size: 0.8rem;
}

